<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Sifariş qeydiyyatı</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div th:replace = "~{menu :: menu}"></div>
		<div class="container">
			<h1>Sifarişiniz qeydə alındı</h1>
			<a class="btn btn-success" th:href="@{/customer}">Alış-verişi davam et</a>
		</div>
		
		<script>
			localStorage.setItem('basketBooks','[]');
		</script>
	</body>
</html>